/*! This file contains ALL of the css that corresponds with the /components and /pages */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/** Start of the header css */
.header {
  background-color: rgb(133, 95, 113);
  position: relative;
  bottom: 80px;
}

.my-name {
  font-size: 80px;
  position: relative;
  top: 10px;
  text-decoration: underline;
  color: black;
}

.header-tag {
  font-size: 28px;
  position: relative;
  bottom: 35px;
}

/** Navigation Links / Nav bar */
.nav-links{
  font-size: 32px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  height: 40px;
  position: relative;
  bottom: 30px;
}

/* Controls the main div/portion for each page */
.main-div {
  background-color: rgb(58, 50, 110);
  height: 1200px;
  position: relative;
  bottom: 100px;
}

/* Controls all h1's for each page */
.page-title {
  font-size: 68px;
}

.description-tag {
  font-size: 18px;
  position: relative;
  bottom: 25px;
}

hr {
  position: relative;
  bottom: 12px;
}

/** Start of about me page */

.aboutme-content {
  font-size: 32px;
  position: relative;
  top: 35px;
}

.pic-of-me {
  width: 20%;
  padding: 16px;
  background-color: rgb(77, 150, 170);
  border-radius: 72px;
  position: relative;
  top: 22px;
}

.like-dislikeBtn {
  font-size: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}

.likeBtn {
  padding: 22px;
  color: rgb(49, 119, 65);
  background-color: rgb(29, 29, 81);
  font-size: 26px;
}

.likeBtn:hover {
  color: rgb(0, 0, 0);
  background-color: lightgreen;
}

.dislikeBtn {
  padding: 22px;
  color: rgb(145, 36, 3);
  background-color: rgb(29, 29, 81);
  font-size: 26px;
}

.dislikeBtn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(175, 34, 15);
}

.counter-status{
  font-size: 34px;
  text-decoration: underline;
}

/** Start of Portfolio page */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative;   
}

.top-project {
  width: 75%;
  margin: 2rem auto 0;
}

.lower-project {
    width: 50%;
    margin: 1rem auto 0;
}

.project-img {
  width: 60%;
  border-style: ridge;
  border-width: 24px;
  border-color: rgb(0,0, 66);
  box-shadow: 40px 25px 12px rgb(42, 42, 42);
}

.big-project-label {
  font-size: 50px;
  position: relative;
  top: 58px;
  color: wheat;
}

.small-project-label {
  font-size: 35px;
  position: relative;
  top: 35px;
  color: wheat;

}

.overlay {
  position: absolute;
  top: 40px;
  left: 350px;
  height: 34%;
  opacity: 0;
  transition: 1s ease;
  background-color: rgb(0,0,66);
} 
.top-project:hover .overlay {
  opacity: .85;
  width: 45.3%;
}

.overlay2 {
  position: absolute;
  top: 405px;
  left: 127px;
  opacity: 0;
  transition: 1s ease;
  background-color: rgb(0,0,66);
}
.lower-project:hover .overlay2 {
  opacity: .85;
  width: 30.3%;
  height: 23%;
}

.overlay3 {
  position: absolute;
  top: 405px;
  right: 128px;
  opacity: 0;
  transition: 1s ease;
  background-color: rgb(0,0,66);
}
.lower-project:hover .overlay3 {
  opacity: .85;
  width: 30%;
  height: 22.2%;
}

.overlay4 {
  position: absolute;
  bottom: 20px;
  left: 120px;
  opacity: 0;
  transition: 1s ease;
  background-color: rgb(0,0,66);
}
.lower-project:hover .overlay4 {
  opacity: .85;
  width: 31%;
  height: 24%;
}

.overlay5 {
  position: absolute;
  bottom: 30px;
  right: 128px;
  opacity: 0;
  transition: 1s ease;
  background-color: rgb(0,0,66);
}
.lower-project:hover .overlay5 {
  opacity: .85;
  width: 30%;
  height: 23%;
}

/** Start of Contact Me page */

.email-form {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  bottom: 46px;
}

.formName-input {
  width: 50%;
  height: 28px;
  font-size: 14px;

}

.formEmail-input {
  width: 50%;
  height: 28px;
  font-size: 14px;

  /* margin: 30px; */

}

.formMessage-input {
  width: 50%;
  height: 300px;
  font-size: 18px;

  /* margin: 30px; */
}

.formSubmit-button {
  margin: 14px;
  height: 38px;
  width: 15%;
  font-size: 18px;
  /* align-items: center; */
  position: relative;
  left: 165px;
}

.formSubmit-button:hover {
  color: rgb(0, 0, 0);
  background-color: lightgreen;
}

.form-titles {
  text-decoration: underline;
  font-size: 28px;
}

.error-message {
  font-size: 22px;
  text-decoration: underline;
  color: rgb(173, 29, 29);
}
.btm-error-message {
  font-size: 22px;
  text-decoration: underline;
  color: rgb(173, 29, 29);
  position: relative;
    bottom: 50px;
    right: 50px;
}

/* * Start of the Resume page */

.resume-content {
  font-size: 24px;
  text-decoration: underline;
}
.download-section {
  display: flex;
    justify-content: center;
    position: relative;
}

.download-logo {
  display: flex;
  width: 90px;
  height: 100px;
  color: wheat;
}

/* *Start of the footer section */

.footer {
  position: relative;
  bottom: 232px;
}
.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.made-by {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-decoration: underline;
}

.logo {
  list-style: none;
  display: flex;
  font-size: 32px;
  color: wheat;
}

.footer-div {
position: relative;
bottom: 34px;
}